[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
django-cors-headers = "==3.10.*"
django-debug-toolbar = "==3.2.*"
django-ipware = "==4.0.*"
djangorestframework = "==3.12.*"
djangorestframework-simplejwt = "==4.8.*"
djoser = "==2.1.*"
drf-nested-routers = "==0.93.*"
drf-spectacular = "==0.21.*"
mysqlclient = "==2.1.*"
python-decouple = "==3.5"
pillow = "*"
encrypt-decrypt-fields = "*"
celery = "==5.*"
redis = "==4.*"
rest-framework-generic-relations = "*"
channels = "==3.0.*"
channels-redis = "==3.3.*"
dotmap = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
